/* Style for the form container */

.HEY{
    height: 800px;

}

  .sms-verification-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Style for the phone input field */
  .phone-input {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Style for the submit button */
  .verify-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .verify-btn:hover {
    background-color: red;
  }

  .verification{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .code-input{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .code-btn{
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .code-btn:hover {
    background-color: red;
  }

  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent; 
    border-radius: 7px;
    transition: border-color 0.3s; 
    margin-bottom: 10px;
  }
  
  .input.error {
    border-color: red; /* Border color when input has error */
  }
  
  .error-message {
    color: red;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .error {
    border: 1px solid red;
  }
  .abutton{
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-left: 5%;
    width: 25%;
    font-size: 18px;
    font-weight: bold;
    height: 40px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .abutton:hover{
    background-color: red;
  }

  /* WAIT APPROVAL */
  .wait-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  #wait-content {
    background: white;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 80%;
    max-width: 750px;
  }
  
  .icon {
    color: #ffc107; 
    font-size: 4em;
  }
  
  .h {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: #ff0000;
  }
  
  p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
  }
  
  .ok-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .ok-button:hover {
    background-color: #ff0000;
  }
  