.form-outline .form-control:focus~.form-notch .form-notch-leading {
  border-top: .200rem solid #ffaabb!important;
  border-bottom: .125rem solid #ffaabb!important;
  border-left: .125rem solid #ffaabb!important;
} 

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
  border-top: .125rem solid #ffaabb !important;
  border-right: .125rem solid #ffaabb!important;
  border-bottom: .125rem solid #ffaabb!important;
} 

.form-outline .form-control:focus~.form-notch .form-notch-middle {
  border-top: 0;
  border-bottom: .125rem solid #ffaabb !important;
} 
.form-outline .form-control~.form-notch .form-notch-leading {
  border-radius: 10px 0 0 10px;
} 

.form-outline .form-control~.form-notch .form-notch-trailing {
 border-radius: 0 10px 10px 0;
} 

.form-label {
color: red !important;
}