.input {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent; 
  border-radius: 7px;
  transition: border-color 0.3s; /* Add transition for smooth effect */
  margin-bottom: 10px;
}

.input:focus {
  border-color: green; /* Border color when input is focused */
}

.input.error {
  border-color: red; /* Border color when input has error */
}

.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
}