/* Main.css */
.main-container {
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 20px; /* Adjust padding as needed */
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }
  