/* list_seller.css */
.listseller {
  font-family: 'Bodoni Ferrar';
}

.container-box {
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    padding: 20px;
    background-color: #E8E8E9;
    border: 1px solid #ccc;
    border-radius: 10px; /* Add corner radius */
    margin: 20px auto; /* Center the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .Table {
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
  }

  h1 {
    text-align: left;
    margin-bottom: 20px;
  }
  