/* list_seller.css */
.listseller {
  font-family: 'Bodoni Ferrar';
}

.container-box {
    width: 100%100%; /* Full width of the viewport */
    height: 100%100%; /* Full height of the viewport */
    padding: 20px;
    background-color: #E8E8E9;
    border: 1px solid #ccc;
    margin: 20px auto; /* Center the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
 /* list_seller.css */
.custom-table {
  background-color: #f0f0f0; /* Set the background color of the table */
  color: #333; /* Set the text color of the table */
}

  h1 {
    text-align: left;
    margin-bottom: 20px;
  }
  