.product-containerq {
  padding: 20px;
  background-color: #f5f5f5; /* Grey background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full viewport height */
  text-align: center; /* Center the text in the container */
}

.product-header-containerq {
  width: 90%; /* 80% of the screen width */
  border-bottom: 2px solid #ff5555; /* Red underline */
  margin-bottom: 20px; /* Space below the header */
}

.product-headerq {
  text-align: left;
  padding-left: 10px;
  background-color: #f5f5f5; /* Grey background color */
  font-size: 28px; /* Larger font size */
  font-weight: bold; /* Bold font weight */
  color: #333; /* Dark grey color */
  padding-top: 10px;
  padding-bottom: 10px; /* Space above the border */
  text-transform: capitalize; /* Capitalize the first letter of each word */
}

.product-listq {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center items horizontally */
}

.empty-cardq {
  width: calc(20% - 20px); /* Adjusted width for the empty card */
  height: 0; /* Hide empty card */
  padding-top: calc(20% - 20px); /* Maintain aspect ratio */
  background-color: transparent; /* Transparent background */
  border: none; /* No border */
  box-shadow: none; /* No shadow */
}

.card-componentq {
  width: calc(20% - 20px); /* Adjusted width for each card */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.product-titleq {
  font-size: 18px; /* Larger font size */
  color: #ff5555; /* Red color for the product title */
  text-decoration: underline; /* Underline */
}
